alias e="vim ."

alias ag="ag --path-to-agignore ~/.agignore"

alias gs="git status"
alias gd="git difftool HEAD"
alias gc="git commit -m"
alias gca="git commit -a -m"
alias gu="git reset --soft HEAD^"
alias gra="git status | grep deleted | awk '{print \$3}' | xargs git rm"
alias gp="git push"

alias be="bundle exec"

alias reload="source ~/.bash_profile"

alias n='vim ~/Dropbox/Notes/$(date +"%Y-%m-%d").md'
