[submodule "/Users/benj/src/dotfiles/vim/bundle/vim-rails"]
	path = /Users/benj/src/dotfiles/vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "/Users/benj/src/dotfiles/vim/bundle/nerdtree"]
	path = /Users/benj/src/dotfiles/vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "/Users/benj/src/dotfiles/vim/bundle/ack.vim"]
	path = /Users/benj/src/dotfiles/vim/bundle/ack.vim
	url = http://github.com/mileszs/ack.vim.git
[submodule "/Users/benj/src/dotfiles/vim/bundle/nerdcommenter"]
	path = /Users/benj/src/dotfiles/vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "/Users/benj/src/dotfiles/vim/bundle/vim-haml"]
	path = /Users/benj/src/dotfiles/vim/bundle/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "/Users/benj/src/dotfiles/vim/bundle/vim-align"]
	path = /Users/benj/src/dotfiles/vim/bundle/vim-align
	url = http://github.com/tsaleh/vim-align.git
