[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule ".vim/bundle/apiblueprint.vim"]
	path = .vim/bundle/apiblueprint.vim
	url = https://github.com/kylef/apiblueprint.vim.git
